#blogSelection ul{
    list-style: none;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0;
    gap: 3px;
}

#blogSelection{
    text-align: center;
    justify-content: center;
}

.selectable{
    width: 350px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(210, 209, 209);
}

.selectable a{
    color: black;
}

#blogTitle{
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 470px) {
    .images{
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}