.cardContainer{
    display: flex;
    gap: 20px;
    height: 400px;
    position: relative;
    top: 3cm;
    left: 4cm;
    text-align: center;
}

.cardClass{
    border-style: solid;
    border-width: 1;
    background-color: rgb(210, 209, 209);
    padding: 3cm;
    position : relative;
}

.cardClass:hover{
    size: 110%;
    opacity: 0.3;
}


.cardText{text-align: center;}