html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    font-family: 'Poppins', sans-serif;
}


.cardContainer {
    display: flex;
    gap: 20px;
    height: 400px;
    position: relative;
    padding: 20px;
    margin: 0 auto; 
    text-align: center;
    width: 100%; 
    max-width: 1200px; 
    box-sizing: border-box;
    margin-top: 90px;
}

.cardClass {
    border-radius: 25px;
    background-color: rgb(210, 209, 209);
    padding: 20px; 
    flex: 1; 
    box-sizing: border-box; 
}

.cardClass:hover {
    transform: scale(1.1);
    background-size: cover;
    background-position: center;
}

.cardText {
    text-align: center;
}

@media (max-width: 480px) {
    .cardContainer {
        flex-direction: column;
        gap: 21px;
        height: 400px;
        position: relative;
        padding: 20px;
        margin: 0 auto; 
        text-align: center;
        width: 100%; 
        max-width: 1200px; 
        box-sizing: border-box;
        margin-top: 0px;
    }
}