.cardContainer{
    display: flex;
    gap: 20px;
    height: 400px;
    position: relative;
    top: 3cm;
    left: 4cm;
    text-align: center;
}

.cardClass{
    border-radius: 25px;
    background-color: rgb(210, 209, 209);
    padding: 3cm;
    position : relative;
}

.cardClass:hover{
    transform: scale(1.1);
    box-shadow: 30px, 30px, 50px;
}


.cardText{text-align: center;}