body{
    font-family: 'Poppins', sans-serif;
}

#container{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 400px;
    position: relative;
    padding-top: 20px;
    margin: 0 auto; 
    text-align: center;
    width: 100%; 
    max-width: 1200px; 
    box-sizing: border-box;
}

.selectable{
    width: 350px;
    height: 440px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: rgb(210, 209, 209);
}

.selectable a{
    text-align: center;
    color: black;
}

.selectable:hover{
    transform: scale(1.03);
    }

.centralText{
    text-align: center;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 470px) {
    .images{
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #container{
        margin-top: 150px;
        flex-direction: column;
        justify-content: center;
        height: 30px;
        width: 240px;
    }
    .selectable{
        width: 250px;
        height: 440px;
    }
}

