body{
    font-family: 'Poppins', sans-serif;
}

#container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    position: relative;
    left: 22%;
}

.selectable{
    width: 350px;
    height: 440px;
    border-radius: 25px;
    background-color: rgb(210, 209, 209);
}

.selectable a{
    text-align: center;
    color: black;
}

.selectable:hover{
width: 27%;
}

#styleGuideText{
    text-align: center;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 470px) {
    .images{
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

