@keyframes hideFooter{
    from{
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
    }

    to{
        width: 1.2%;
        height: 3%;
        top: -610px;
        left: -598px;
        background-color: black;
    }
}


@keyframes showFooter{
    from{
        width: 1.4%;
        height: 3%;
        top: -610px;
        left: -598px;
        
    }

    to{
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@media (max-width: 480px) {

    @keyframes hideFooter{
        from{
            width: 70%;
            height: 100%;
            top: 0;
            left: 0;
        }
    
        to{
            width: 6%;
            height: 30%;
            top: -594px;
            left: 80px;
            background-color: black;
        }
    }

    @keyframes showFooter{
        from{
            width: 6%;
            height: 30%;
            top: -594px;
            left: 80px;
            
        }
    
        to{
            width: 70%;
            height: 100%;
            top: 20px;
            left: 0;
        }
    }
}