#mainHeading{text-align: center;}

body{
    background-color: rgb(228, 228, 228);
}

#mainHeader{
    display: inline-flex;
    border-bottom: 1px solid rgb(0, 0, 0);
    position: sticky;
    background-color: rgb(228, 228, 228);
    width: 100%;
    top: 0;
    left: 0;
}

#mainHeader nav ul{
    list-style: none;
}

#mainHeader nav ul li {
    display: inline-flex;
    margin-right: 20px; 
}

#mainHeader nav ul li:last-child {
    margin-right: 0;
}

#mainHeader nav ul li a{
    color: black;
}

.navBar{
    margin-left: 66%;    
}

.name{
    padding-left: 20px;
}


#mainHeader nav ul li a:visited{
    color: black;
}


@media (max-width: 360px) { 
    #mainHeader{
        display: inline-flex;
        border-bottom: 1px solid rgb(0, 0, 0);
        position: fixed;
        background-color: rgb(209, 0, 0);
        width: 100%;
    }
    .navBar{
        margin-left: 62%;    
    }
}